<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>




<body>
    
    <div id="abc">
        <div id="top"></div>
        <div id="gotop"><a href="#top" ><span id="topanime">top</span></a></div>
        <div style="overflow:auto;">
            
            <div id="btctable">
                <div id="tele"><a href="https://t.me/koincomparein" target="blank"><span  class="telegram" ></span></a></div><br>
                <div id="a1"><a href="#arb" >Arbitrage Index</a></div>
                <p>--------------</p>
                <div><h3>Live prices</h3></div>
                
                <h3><span  class="imag"  ></span> Bitcoin(BTC)</h3>

                <textarea readonly  id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly  id="firstrow" >Buy Price
                </textarea>
                <textarea readonly  id="firstrow" class="borderradius2">Sell Price
                </textarea>
                <br>

                <textarea readonly id="firstcol" >Bitbns
                </textarea>
                <textarea readonly  data-bind="text: bitbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitbtcbuy" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdbtcbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpbtcbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: kobtcbuy"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: kobtcsell" id="thirdcol" class="borderradius4">
                </textarea>

                <br>
                <br>
            </div>
        </div>

        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ripple"  ></span> Ripple(XRP)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>

                <textarea readonly id="firstcol" >BitBns
                </textarea>
                <textarea readonly  data-bind="text: bitxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitxrpbuy" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdxrpbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpxrpbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koxrpsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koxrpbuy" id="thirdcol" class="borderradius4">
                </textarea>

                <br>

            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="litecoin"  ></span> LiteCoin(LTC)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdltcbuy" id="thirdcol">
                </textarea>

                <br>
               
                <textarea readonly id="firstcol" >Bitbns
                </textarea>
                <textarea readonly  data-bind="text: bitltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitltcbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpltcbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koltcsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koltcbuy" id="thirdcol" class="borderradius4">
                </textarea>

                <br>

            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ethereum"  ></span>Ethereum(ETH)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >BitBns
                </textarea>
                <textarea readonly  data-bind="text: bitethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitethbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdethbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpethbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koethsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koethbuy" id="thirdcol" class="borderradius4">
                </textarea>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div style="text-align:center;">

            <h3><span  class="bch"  ></span>  BitcoinCash(BCH)</h3>
            <textarea readonly id="firstrow" class="borderradius1">Exchange
            </textarea>
            <textarea readonly id="firstrow" >Buy Price
            </textarea>
            <textarea readonly id="firstrow" class="borderradius2">Sell Price
            </textarea>

            <br>

            <textarea readonly id="firstcol" >Coindelta
            </textarea>
            <textarea readonly  data-bind="text: cdbchsell" id="secondcol">
            </textarea>
            <textarea readonly  data-bind="text: cdbchbuy" id="thirdcol">
            </textarea>

            <br>
            <textarea readonly id="firstcol" >Zebpay
            </textarea>
            <textarea readonly  data-bind="text: zpbchsell" id="secondcol">
            </textarea>
            <textarea readonly  data-bind="text: zpbchbuy"  id="thirdcol">
            </textarea>

            <br>
            <textarea readonly id="firstcol" class="borderradius3">Koinex
            </textarea>
            <textarea readonly  data-bind="text: kobchsell"id="secondcol" >
            </textarea>
            <textarea readonly  data-bind="text: kobchbuy" id="thirdcol" class="borderradius4">
            </textarea>

            <br>
        </div>

        <br>
        <br>
        <br>
        <br>
        <span style="text-align:center;"><p>----------------------------------------------------------</p></span>
        <div id="arb"></div>
        <div style="text-align:center;"><h3>Arbitrage Index</h3></div>
        <div style="text-align:center;"><h6>Note:These prices are not actual buy and sell prices <br>but effective prices after trade fee inclusion.<br>Transfer fee should be calculated which<br> is given in "fee?" section.</h6></div>
        <div style="overflow:auto;">
            <div id="btctable">

                <h3><span  class="imag"  ></span> Bitcoin(BTC)</h3>
                <br>
                <br>
                <textarea readonly  id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly  id="firstrow" >Buy Price
                </textarea>
                <textarea readonly  id="firstrow" class="borderradius2">Sell Price
                </textarea>
                <br>

                <textarea readonly id="firstcol">Bitbns
                </textarea>
                <textarea readonly  data-bind="text: bitbtcsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitbtcbuy1" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdbtcsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdbtcbuy1" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpbtcsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpbtcbuy1"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: kobtcbuy1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: kobtcsell1" id="thirdcol" class="borderradius4">
                </textarea>
                <br>
                <br>
                <div id="sampleDemo" style="" class="demo-padding demo-container">
                    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                        <div id="popupWrapper">
                            <oj-popup style="display:none" id="popup1">
                                Ex&nbsp(BTC)&nbsp(Rupees)<br>
                                Bb&nbsp(<span data-bind="text:bitbtcfee"></span>)&nbsp(<span data-bind="text:bitbtcfeer"></span>)<br>
                                Cd&nbsp(<span data-bind="text:cdbtcfee"></span>)&nbsp(<span data-bind="text:cdbtcfeer"></span>)<br>
                                Zp&nbsp(<span data-bind="text:zpbtcfee"></span>)&nbsp(<span data-bind="text:zpbtcfeer"></span>)<br>
                                Ko&nbsp(<span data-bind="text:kobtcfee"></span>)&nbsp(<span data-bind="text:kobtcfeer"></span>)<br>
                            </oj-popup>
                            <button id="btnGo"
                                    data-bind="click: function(data)
            {
              document.querySelector('#popup1').open('#btnGo');
            }">
                                Fees?
                            </button>
                        </div>


                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>

        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ripple"  ></span> Ripple(XRP)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>

                <textarea readonly id="firstcol" >BitBns
                </textarea>
                <textarea readonly  data-bind="text: bitxrpsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitxrpbuy1" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdxrpsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdxrpbuy1" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpxrpsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpxrpbuy1"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koxrpsell1"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koxrpbuy1" id="thirdcol" class="borderradius4">
                </textarea>

                <br>
                <div id="sampleDemo" style="" class="demo-padding demo-container">
                    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                        <div id="popupWrapper">
                            <oj-popup style="display:none" id="popup2">
                                Ex&nbsp(XRP)&nbsp(Rupees)<br>
                                Bb&nbsp(<span data-bind="text:bitxrpfee"></span>)&nbsp(<span data-bind="text:bitxrpfeer"></span>)<br>
                                Cd&nbsp(<span data-bind="text:cdxrpfee"></span>)&nbsp(<span data-bind="text:cdxrpfeer"></span>)<br>
                                Zp&nbsp(<span data-bind="text:zpxrpfee"></span>)&nbsp(<span data-bind="text:zpxrpfeer"></span>)<br>
                                Ko&nbsp(<span data-bind="text:koxrpfee"></span>)&nbsp(<span data-bind="text:koxrpfeer"></span>)<br>
                            </oj-popup>
                            <button id="btnGo2"
                                    data-bind="click: function(data)
            {
              document.querySelector('#popup2').open('#btnGo2');
            }">
                                Fees?
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="litecoin"  ></span> LiteCoin(LTC)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdltcsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdltcbuy1" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpltcsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpltcbuy1"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol">Bitbns
                </textarea>
                <textarea readonly  data-bind="text:bitltcsell1"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitltcbuy1" id="thirdcol">
                </textarea>
                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koltcsell1"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koltcbuy1" id="thirdcol" class="borderradius4">
                </textarea>

                <br>
                
                <div id="sampleDemo" style="" class="demo-padding demo-container">
                    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                        <div id="popupWrapper">
                            <oj-popup style="display:none" id="popup3">
                                Ex&nbsp(LTC)&nbsp(Rupees)<br>
                                Bb&nbsp(<span data-bind="text:bitltcfee"></span>)&nbsp(<span data-bind="text:bitltcfeer"></span>)<br>
                                Cd&nbsp(<span data-bind="text:cdltcfee"></span>)&nbsp(<span data-bind="text:cdltcfeer"></span>)<br>
                                Zp&nbsp(<span data-bind="text:zpltcfee"></span>)&nbsp(<span data-bind="text:zpltcfeer"></span>)<br>
                                Ko&nbsp(<span data-bind="text:koltcfee"></span>)&nbsp(<span data-bind="text:koltcfeer"></span>)<br>
                            </oj-popup>
                            <button id="btnGo3"
                                    data-bind="click: function(data)
            {
              document.querySelector('#popup3').open('#btnGo3');
            }">
                                Fees?
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ethereum"  ></span>Ethereum(ETH)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >BitBns
                </textarea>
                <textarea readonly  data-bind="text: bitethsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitethbuy1" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdethsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdethbuy1" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpethsell1" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpethbuy1"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koethsell1"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koethbuy1" id="thirdcol" class="borderradius4">
                </textarea>
                <br>
                <div id="sampleDemo" style="" class="demo-padding demo-container">
                    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                        <div id="popupWrapper">
                            <oj-popup style="display:none" id="popup4">
                                Ex&nbsp(LTC)&nbsp(Rupees)<br>
                                Bb&nbsp(<span data-bind="text:bitethfee"></span>)&nbsp(<span data-bind="text:bitethfeer"></span>)<br>
                                Cd&nbsp(<span data-bind="text:cdethfee"></span>)&nbsp(<span data-bind="text:cdethfeer"></span>)<br>
                                Zp&nbsp(<span data-bind="text:zpethfee"></span>)&nbsp(<span data-bind="text:zpethfeer"></span>)<br>
                                Ko&nbsp(<span data-bind="text:koethfee"></span>)&nbsp(<span data-bind="text:koethfeer"></span>)<br>
                            </oj-popup>
                            <button id="btnGo4"
                                    data-bind="click: function(data)
            {
              document.querySelector('#popup4').open('#btnGo4');
            }">
                                Fees?
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="text-align:center;">

            <h3><span  class="bch"  ></span>  BitcoinCash(BCH)</h3>
            <textarea readonly id="firstrow" class="borderradius1">Exchange
            </textarea>
            <textarea readonly id="firstrow" >Buy Price
            </textarea>
            <textarea readonly id="firstrow" class="borderradius2">Sell Price
            </textarea>

            <br>

            <textarea readonly id="firstcol" >Coindelta
            </textarea>
            <textarea readonly  data-bind="text: cdbchsell1" id="secondcol">
            </textarea>
            <textarea readonly  data-bind="text: cdbchbuy1" id="thirdcol">
            </textarea>

            <br>
            <textarea readonly id="firstcol" >Zebpay
            </textarea>
            <textarea readonly  data-bind="text: zpbchsell1" id="secondcol">
            </textarea>
            <textarea readonly  data-bind="text: zpbchbuy1"  id="thirdcol">
            </textarea>

            <br>
            <textarea readonly id="firstcol" class="borderradius3">Koinex
            </textarea>
            <textarea readonly  data-bind="text: kobchsell1"id="secondcol" >
            </textarea>
            <textarea readonly  data-bind="text: kobchbuy1" id="thirdcol" class="borderradius4">
            </textarea>

            <br>
            <div id="sampleDemo" style="" class="demo-padding demo-container">
                <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                    <div id="popupWrapper">
                        <oj-popup style="display:none" id="popup5">
                            Ex&nbsp(BCH)&nbsp(Rupees)<br>                            
                            Cd&nbsp(<span data-bind="text:cdbchfee"></span>)&nbsp(<span data-bind="text:cdbchfeer"></span>)<br>
                            Zp&nbsp(<span data-bind="text:zpbchfee"></span>)&nbsp(<span data-bind="text:zpbchfeer"></span>)<br>
                            Ko&nbsp(<span data-bind="text:kobchfee"></span>)&nbsp(<span data-bind="text:kobchfeer"></span>)<br>
                        </oj-popup>
                        <button id="btnGo5"
                                data-bind="click: function(data)
            {
              document.querySelector('#popup5').open('#btnGo5');
            }">
                            Fees?
                        </button>
                    </div>


                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </div>
</body>

<style>
    #a1{
        text-align: center;
    }
    #firstrow{

        background-color:white;
        border:1px solid rosybrown;
        color:black;
        height:40px;
    }
    .borderradius1{
        border-radius:  15px 0px 0px 0px;
    }
    .borderradius2{
        border-radius:  0px   15px  0px 0px;
    }
    .borderradius4{
        border-radius:  0px    0px 15px  0px;
    }
    .borderradius3{
        border-radius:  0px   0px 0px 15px ;
    }
    textarea {

        resize: none;
        border: 0px solid #888; 

        overflow:hidden;
        font-weight: bold;
        color:#00732a;
        text-align: center;
        padding: 10px;
        font-size: 15px;
        width:  calc(100% - 1300px);
        min-width:93px;
        max-width:250px;
    } 
    #btctable{

        margin-top:100px;
        text-align:center;
        overflow:  auto;
    }
    #xrptable{


        text-align:center;
        overflow:  auto;
    }
    #LTP{
        overflow: hidden;
    }

    #firstcol{

        border-left:  5px solid rosybrown;
        color:#4f4b42;
        font-size: 14px;


    }

    #secondcol{

        color:#599627;
        font-size: 14px;
    }

    #thirdcol{
        color:#d6523b;
        font-size: 14px;

    }

    #fourthcol{

    }
    #fixedbutton {
        position: fixed;
        bottom:10px;
        right:10px;
        height: 30px;
        width:80px;
        text-height: 40px;

        background-color:#93a5c1;
    }
    h3{
        color:black;
    }
    body{
        background-color:#f7f6f4;
    }

    #btnGo{
        background-color: #f7f6f4;
        border: 0px;
        text-decoration: underline;
    }
    #btnGo2{
        background-color: #f7f6f4;
        border: 0px;
        text-decoration: underline;
    }
    #btnGo3{
        background-color: #f7f6f4;
        border: 0px;
        text-decoration: underline;
    }
    #btnGo4{
        background-color: #f7f6f4;
        border: 0px;
        text-decoration: underline;
    }
    #btnGo5{
        background-color: #f7f6f4;
        border: 0px;
        text-decoration: underline;
    }
    
    #gotop{
        position: fixed;
        bottom:10px;
        right:10px;
    }
    
    #topanime{
        
        
    }
    #tele{
        text-align:center;
    }
</style>