<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id='section1'>
    
    <div id='Caption'>
        
        <div class="oj-flex-items-pad demo-flex-display">
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
        </div>
        <div class="oj-flex-items-pad demo-flex-display">
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
        </div>
        <div class="oj-flex-items-pad demo-flex-display">
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
        </div>

     <div class="oj-flex-item">&nbsp
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item">&nbsp
                   
                <div class="oj-flex oj-flex-items-pad">
                  <div class="oj-flex-item">&nbsp</div>
                    
                  <div class="oj-flex-item"><h1>Open,Compare</h1><h1>&Arbitrage</h1><h1></h1><h4>India's first coin compare</h4>
                      <h4>platform.</h4><h1></h1>
                      <h1><svg height="10" width="300">
  <line x1="0" y1="0" x2="200" style="stroke:rgb(255,255,255);stroke-width:2" />
  </svg></h1><h1><button class="button" data-bind="click:comparefunc">Click here to compare</button></h1></div>
                </div>
                  
              </div>
              <div class="oj-flex-item"><span role="img" class="image1" title="Oracle Logo" alt="Oracle Logo"></span>
                  
              </div>
            </div>
          </div>
         
    </div>
</div>

<div id='section2'>
    <div class="oj-flex-items-pad demo-flex-display">
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
          </div>
     </div>
    <span id="wia"><p class="text-center">What is Arbitrage?</p></span>
    <span id="ans"><p>Arbitrage is taking advantage of difference in prices of currencies in different platforms or exchanges.</br>That is buying
            a currency from one exchange at  a certain price and selling the same in a  different exchange at a higher price.</p></span>
    <div class="oj-flex-items-pad demo-flex-display">
          <div class="oj-flex">
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
            <div class="oj-flex-item">&nbsp</div>
           
          </div>
     </div>
    
    
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <span id="wia"><p class="text-center">What do we do?</p></span>
            <span id="ans"><p>We are a one stop platform ,where, you can get live prices of different coins in different exchanges.</br>
        This lessens the burden of opening all the exchanges and comparing them one-by-one.
        </p></span>
</div>
    
        
   
</div>
<div id="section3">
    
</div>

<style>
     #wia p{
        text-align:center;
        color:black;
        font-size: 40px;
        font-family: "Times New Roman", Times, serif
    }
    #ans p{
        float:inside;
        font-size:20px;
        text-align:center;
        font-family: "Times New Roman", Times, serif;
    }
</style>
