<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>




<body>
    
    <div id="abc">
        <div style="overflow:auto;">
            <div id="btctable">

                <h3><span  class="imag"  ></span> Bitcoin(BTC)</h3>
               
                <textarea readonly  id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly  id="firstrow" >Buy Price
                </textarea>
                <textarea readonly  id="firstrow" class="borderradius2">Sell Price
                </textarea>
                <br>

                <textarea readonly id="firstcol" >Bitbins
                </textarea>
                <textarea readonly  data-bind="text: bitbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitbtcbuy" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdbtcbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpbtcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpbtcbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: kobtcbuy"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: kobtcsell" id="thirdcol" class="borderradius4">
                </textarea>

                <br>
                <br>
            </div>
        </div>

        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ripple"  ></span> Ripple(XRP)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>

                <textarea readonly id="firstcol" >BitBins
                </textarea>
                <textarea readonly  data-bind="text: bitxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitxrpbuy" id="thirdcol">
                </textarea>

                <br>

                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdxrpbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpxrpsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpxrpbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koxrpsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koxrpbuy" id="thirdcol" class="borderradius4">
                </textarea>

                <br>

            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="litecoin"  ></span> LiteCoin(LTC)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdltcbuy" id="thirdcol">
                </textarea>
                <br>
                <textarea readonly id="firstcol" >Bitbins
                </textarea>
                <textarea readonly  data-bind="text: bitltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitltcbuy"  id="thirdcol">
                </textarea>
                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpltcsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpltcbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koltcsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koltcbuy" id="thirdcol" class="borderradius4">
                </textarea>

                <br>

            </div>
        </div>
        <br>
        <br>
        <div style="width:100%;overflow:auto;">
            <div id="xrptable">

                <h3><span  class="ethereum"  ></span>Ethereum(ETH)</h3>
                <textarea readonly id="firstrow" class="borderradius1">Exchange
                </textarea>
                <textarea readonly id="firstrow" >Buy Price
                </textarea>
                <textarea readonly id="firstrow" class="borderradius2">Sell Price
                </textarea>

                <br>
                <textarea readonly id="firstcol" >BitBins
                </textarea>
                <textarea readonly  data-bind="text: bitethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: bitethbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Coindelta
                </textarea>
                <textarea readonly  data-bind="text: cdethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: cdethbuy" id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" >Zebpay
                </textarea>
                <textarea readonly  data-bind="text: zpethsell" id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: zpethbuy"  id="thirdcol">
                </textarea>

                <br>
                <textarea readonly id="firstcol" class="borderradius3">Koinex
                </textarea>
                <textarea readonly  data-bind="text: koethsell"id="secondcol">
                </textarea>
                <textarea readonly  data-bind="text: koethbuy" id="thirdcol" class="borderradius4">
                </textarea>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div style="text-align:center;">
       
            <h3><span  class="bch"  ></span>  BitcoinCash(BCH)</h3>
        <textarea readonly id="firstrow" class="borderradius1">Exchange
        </textarea>
        <textarea readonly id="firstrow" >Buy Price
        </textarea>
        <textarea readonly id="firstrow" class="borderradius2">Sell Price
        </textarea>
      
        <br>

        <textarea readonly id="firstcol" >Coindelta
        </textarea>
        <textarea readonly  data-bind="text: cdbchsell" id="secondcol">
        </textarea>
        <textarea readonly  data-bind="text: cdbchbuy" id="thirdcol">
        </textarea>
        
        <br>
        <textarea readonly id="firstcol" >Zebpay
        </textarea>
        <textarea readonly  data-bind="text: zpbchsell" id="secondcol">
        </textarea>
        <textarea readonly  data-bind="text: zpbchbuy"  id="thirdcol">
        </textarea>
        
        <br>
        <textarea readonly id="firstcol" class="borderradius3">Koinex
        </textarea>
        <textarea readonly  data-bind="text: kobchsell"id="secondcol" >
        </textarea>
        <textarea readonly  data-bind="text: kobchbuy" id="thirdcol" class="borderradius4">
        </textarea>
        
        <br>
        </div>
   
        <br>
        <br>
        <br>
        <br>
        
    </div>
</body>

<style>
    #firstrow{

        background-color:white;
        border:1px solid rosybrown;
        color:black;
        height:40px;
    }
    .borderradius1{
        border-radius:  15px 0px 0px 0px;
    }
    .borderradius2{
        border-radius:  0px   15px  0px 0px;
    }
    .borderradius4{
        border-radius:  0px    0px 15px  0px;
    }
    .borderradius3{
        border-radius:  0px   0px 0px 15px ;
    }
    textarea {

        resize: none;
        border: 0px solid #888; 

        overflow:hidden;
        font-weight: bold;
        color:#00732a;
        text-align: center;
        padding: 10px;
        font-size: 15px;
        width:  calc(100% - 1300px);
        min-width:93px;
        max-width:250px;
    } 
    #btctable{

        margin-top:100px;
        text-align:center;
        overflow:  auto;
    }
    #xrptable{


        text-align:center;
        overflow:  auto;
    }
    #LTP{
        overflow: hidden;
    }

    #firstcol{

        border-left:  5px solid rosybrown;
        color:#4f4b42;
        font-size: 14px;
         

    }

    #secondcol{

        color:#599627;
        font-size: 14px;
    }

    #thirdcol{
        color:#d6523b;
        font-size: 14px;
    }

    #fourthcol{

    }
    #fixedbutton {
        position: fixed;
        bottom:10px;
        right:10px;
        height: 30px;
        width:80px;
        text-height: 40px;

        background-color:#93a5c1;
    }
    h3{
        color:black;
    }
    body{
        background-color:#f7f6f4;
    }
    
</style>